:root {
   --primary: #BB0A21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    padding: 20px;
    margin: 7px 7px 0px 7px;
    border: 1px solid #000;
    border-radius: 15px;
    
}

#logo {
    border-radius: 50%;
}

img#logo {
    width: 44px;
    height: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: none;
}

p.aboutme {
    padding: 20px;
}

img#myImage {
    width: 100%;
}

div.backGround {
    height: 300px;
    background-color: var(--primary);
}

