:root {
   --primary: #BB0A21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    padding: 20px;
    margin: 7px 7px 0px 7px;
    border: 1px solid #000;
    border-radius: 15px;
}

#logo {
    border-radius: 50%;
}

img#logo {
    width: 44px;
    height: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button#hamBtn {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    display: block;
    text-decoration: none;
    padding: .75rem 5vw;
    color: #fff;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    margin: 0 auto;
}

button#hamBtn span:nth-child(1) {
    display: block;
}

button#hamBtn span:nth-child(2) {
    display: none;
}

button#hamBtn.open span:nth-child(1) {
    display: none;
}

button#hamBtn.open span:nth-child(2) {
    display: block;
}

p.aboutme {
    padding: 20px;
}

img#myImage {
    width: 100%;
}

div.backGround {
    height: 300px;
    background-color: var(--primary);
}

div.weatherCards {
    display: flex;
    justify-content: center;
}

div.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
    margin: 7px;
}