:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 30px;
}

header nav ul li a {
    text-decoration: none;
}

#logo {
    border-radius: 50%;
}

img#logo {
    width: 77px;
    height: 77px;
}

