:root {
    --lgreen: #6d8d6d7c;
    --alblue: #f0f8ff;
    --black: #0f0e0ed0;
    --green: #6af06a7c;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: var(--black);
    background-image: url('https://source.unsplash.com/1600x900/?weather');
}

p.instructions {
    padding: 20px;
    text-align: center;
    background-color: var(--lgreen);
    color: var(--alblue);
    font-size: 1.3rem;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .5em 1em;
    border-radius: 15px;
    font-size: 19px;
    font-family: inherit;
    color: var(--alblue);
    background: var(--lgreen);
    width: calc(100% - 100px);

}

button {
    cursor: pointer;
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 47px;
    width: 47px;
    color: var(--alblue);
    outline: none;
    background: var(--lgreen);
    transition: .2s ease-in;
}

button:hover {
    background: var(--green);
}

.description {
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

h1.temp {
    margin: 0;
}

div.weather {
    margin-left: 20px;
    margin-top: 10px;
}

div.card {
    background: var(--black);
    color: var(--alblue);
    padding: 2em;
    width: 95%;
    max-width: 420px;
    margin-top: 15px;
}

div.search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}