:root {
    --tiffany-blue: #A6D8D4;
    --onyx: #353B3C;
    --indigo: #124E78;
    --yellow: #F3A712;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Edu SA Beginner';
}

.heading {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    overflow: hidden;
}

.heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: .3rem;
}

footer {
    padding: 20px 0px;
}

header, footer {
    background-color: var(--indigo);
}

header, footer {
    margin: 0 auto;
    text-align: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin: 1%;
}

header, footer {
    color: var(--tiffany-blue);
}

h1, .updated {
    color: var(--yellow);
}

li {
    color: var(--onyx);
    font-size: 1.2rem;
    margin: 10px;
}

a {
    color: var(--indigo);
    font-size: 1.3rem;
}

a:hover {
    color: var(--yellow);
    border: 0;
    outline: 3px solid var(--indigo);
    outline-offset: 3px;
}