:root {
    --tiffany-blue: #A6D8D4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:fantasy ;
}

.heading {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    overflow: hidden;
}

.heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: .7rem;
}

footer {
    padding: 20px 0px;
}

header, footer {
    background-color: var(--tiffany-blue);
}

header, main, footer {
    margin: 0 auto;
    text-align: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

main nav {
    padding: 20px;
}