@media only screen and (min-width: 768px) {

    header, main, footer {
        width: 50%;
        margin: 5% auto;
    }

    .heading {
        width: 175px;
        height: 175px;
    }

    h1 {
        font-size: 2.3rem;
    }

    p, li, a {
        font-size: 1.3rem;
    }

    main nav {
        padding: 10px;
    }
}