:root {
    --melon: #E0AFA0;
    --afblue: #4B88A2;
    --black: #252627;
    --snow: #FFF9FB;
    --red: #BB0A21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

footer, header {
    padding: 20px 10px;
    background-color: var(--melon);
    color: var(--afblue);
}

header, nav, main, footer {
    margin: 0 auto;
    text-align: center;
}

div.header {
    color: var(--afblue);
    font-size: 2.5rem;
    font-family: 'Mynerve';
    padding: 20px 0px;
}

form {
    display: flex;
    gap: 13px;
    justify-content: center;
    padding: 20px;
}

.search, .submit {
    padding: .35rem;
}

.updated {
    color: var(--black);
}

/* Name tag styling Start */
div.nameTags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
    gap: 5px;
}

section {
    margin: 20px;
    border: 1px solid var(--red);
    border-radius: 15px;
    background-color: var(--red);
    color: var(--black);
}

p.copyright {
    color: var(--afblue);
    font-size: 1.2rem;
}
/* Name tag styling End */