:root {
    --melon: #E0AFA0;
    --afblue: #4B88A2;
    --black: #252627;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

footer, header {
    padding: 20px 10px;
    background-color: var(--melon);
    color: var(--afblue);
}

header, nav, main, footer {
    margin: 0 auto;
    text-align: center;
}

div.headerMsg {
    font-size: 2.5rem;
    font-family: 'Ubuntu';
    padding: 20px 0px;
}

form {
    display: flex;
    gap: 13px;
    justify-content: center;
    padding: 20px;
}

.search, .submit {
    padding: .35rem;
}

.updated {
    color: var(--black);
}

/* Name tag styling Start */
div.nameTag {
    width: 250px;
    height: auto;
    margin: 10px auto;
}

section {
    margin: 20px;
    border: 1px solid var(--melon);
    border-radius: 15px;
    background-color: var(--afblue);
    color: var(--melon);
}

p {
    background-color: var(--melon);
    color: var(--afblue);
    padding: 10px 0px 0px 0px;
    font-size: 1.2rem;
}
 
div.nameTag h1 {
    /* background-color: var(--melon); */
    padding: .25rem;
    text-align: center;
}

div.nameTag p {
    text-align: center;
}
/* Name tag styling End */